<div class="wrapper">
  <div
    class="page-header page-header-xs"
    data-parallax="true"
    style="background-image: url('./assets/img/fabio-mangione.jpg')"
  >
    <div class="filter"></div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
        <div class="avatar">
          <img
            src="./assets/img/ship.png"
            alt="Circle Image"
            class="img-circle img-no-padding img-responsive"
          />
        </div>
        <div class="name">
          <h4 class="title">Ship's list<br /></h4>
        </div>
      </div>
      <div class="row">
        <div class="input-group mb-3 col-6">
          <input
            type="number"
            class="form-control"
            [(ngModel)]="filter"
            placeholder="capacity > "
            min="0"
          />
        </div>
        <div class="col-6">
          <button class="btn btn-success" (click)="onFilter()">filter</button>
        </div>
      </div>
      <div class="row">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Capacity</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ship of ships; let i = index">
              <th scope="row">{{ i }}</th>
              <td>{{ ship.name.value }}</td>
              <td>{{ ship.capacity.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
